# Lab 2: Pandas and numpy

In [5]:
import numpy as np
import pandas as pd

## EXERCISE 1: How fast is your car?

Read in automobile data from a CSV file, storing the data in a dataframe `dfcars`.

````` 
Description
The data was extracted from the 1974 Motor Trend US magazine, and comprises fuel consumption and ten aspects of automobile design and performance for 32 automobiles (1973–74 models).

Format

A data frame with 32 observations on 11 variables.

[, 1]	mpg	     Miles/(US) gallon
[, 2]	cyl	     Number of cylinders
[, 3]	disp	 Displacement (cu.in.)
[, 4]	hp	     Gross horsepower
[, 5]	drat	 Rear axle ratio
[, 6]	wt	     Weight (1000 lbs)
[, 7]	qsec	 1/4 mile time
[, 8]	vs	     V/S
[, 9]	am	     Transmission (0 = automatic, 1 = manual)
[,10]	gear	 Number of forward gears
[,11]	carb	 Number of carburetors
        
Source
Henderson and Velleman (1981), Building multiple regression models interactively. Biometrics, 37, 391–411.
`````

In [3]:
# your code here
!wget https://raw.githubusercontent.com/setitfree/NumericalPython/main/data/mtcars.csv

--2020-12-20 05:34:40--  https://raw.githubusercontent.com/setitfree/NumericalPython/main/data/mtcars.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1783 (1.7K) [text/plain]
Saving to: ‘mtcars.csv.1’

mtcars.csv.1        100%[===================>]   1.74K  --.-KB/s    in 0s

2020-12-20 05:34:40 (32.4 MB/s) - ‘mtcars.csv.1’ saved [1783/1783]

In [37]:
dfcars = pd.read_csv("mtcars.csv.1")

That first column is messed up. Lets fix it.

The first column, which seems to be the name of the car, does not have a name. Here are the first 3 lines of the file:

```
"","mpg","cyl","disp","hp","drat","wt","qsec","vs","am","gear","carb"
"Mazda RX4",21,6,160,110,3.9,2.62,16.46,0,1,4,4
"Mazda RX4 Wag",21,6,160,110,3.9,2.875,17.02,0,1,4,4
```

In [39]:
#mine
dfcars = dfcars.rename(columns={"Unnamed: 0" : "Name"})
dfcars.head()

                Name   mpg  cyl   disp   hp  ...   qsec  vs  am  gear  carb
0          Mazda RX4  21.0    6  160.0  110  ...  16.46   0   1     4     4
1      Mazda RX4 Wag  21.0    6  160.0  110  ...  17.02   0   1     4     4
2         Datsun 710  22.8    4  108.0   93  ...  18.61   1   1     4     1
3     Hornet 4 Drive  21.4    6  258.0  110  ...  19.44   1   0     3     1
4  Hornet Sportabout  18.7    8  360.0  175  ...  17.02   0   0     3     2

[5 rows x 12 columns]

In [28]:
dfcars = dfcars.rename(columns={"Unnamed: 0": "name"})
dfcars.head()

                name   mpg  cyl   disp   hp  ...   qsec  vs  am  gear  carb
0          Mazda RX4  21.0    6  160.0  110  ...  16.46   0   1     4     4
1      Mazda RX4 Wag  21.0    6  160.0  110  ...  17.02   0   1     4     4
2         Datsun 710  22.8    4  108.0   93  ...  18.61   1   1     4     1
3     Hornet 4 Drive  21.4    6  258.0  110  ...  19.44   1   0     3     1
4  Hornet Sportabout  18.7    8  360.0  175  ...  17.02   0   0     3     2

[5 rows x 12 columns]

Columns in a dataframe (series) come with their own types. Some data may be categorical, that is, they come  with only few well defined values. An example is cylinders  (`cyl`). Cars may be 4, 6, or 8 cylindered. There is a ordered interpretation to this  (8 cylinders more powerful engine than 6 cylinders) but also a one-of-three-types interpretation to this. 

Sometimes categorical data does not have an ordered interpretation. An example is `am`: a boolean variable which indicates whether the car is an automatic or not.

Other column types are integer, floating-point, and `object`. The latter is a catch-all for a string or anything Pandas cannot infer, for example, a column that contains data of mixed types. 

Write code to check the datatypes of the columns

In [32]:
# your code here
dfcars.columns

Index(['Unnamed: 0', 'mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs',
       'am', 'gear', 'carb'],
      dtype='object')

Write code to get the unique values of car cylinders

In [14]:
# your code here
dfcars.cyl.unique()

array([6, 4, 8])

In [42]:
#mine
dfcars[(dfcars['cyl'] == 6) & (dfcars['cyl'] == 8)]

Empty DataFrame
Columns: [Name, mpg, cyl, disp, hp, drat, wt, qsec, vs, am, gear, carb]
Index: []

Write code to get the dataframe of the 6 and 8 cylinder cars

In [21]:
# your code here
dfcars[(dfcars['cyl'] == 6)& (dfcars['cyl'] == 8)]

Empty DataFrame
Columns: [name, mpg, cyl, disp, hp, drat, wt, qsec, vs, am, gear, carb]
Index: []

In [44]:
dfcars[dfcars.disp>150]

                   Name   mpg  cyl   disp   hp  ...   qsec  vs  am  gear  carb
0             Mazda RX4  21.0    6  160.0  110  ...  16.46   0   1     4     4
1         Mazda RX4 Wag  21.0    6  160.0  110  ...  17.02   0   1     4     4
3        Hornet 4 Drive  21.4    6  258.0  110  ...  19.44   1   0     3     1
4     Hornet Sportabout  18.7    8  360.0  175  ...  17.02   0   0     3     2
5               Valiant  18.1    6  225.0  105  ...  20.22   1   0     3     1
6            Duster 360  14.3    8  360.0  245  ...  15.84   0   0     3     4
9              Merc 280  19.2    6  167.6  123  ...  18.30   1   0     4     4
10            Merc 280C  17.8    6  167.6  123  ...  18.90   1   0     4     4
11           Merc 450SE  16.4    8  275.8  180  ...  17.40   0   0     3     3
12           Merc 450SL  17.3    8  275.8  180  ...  17.60   0   0     3     3
13          Merc 450SLC  15.2    8  275.8  180  ...  18.00   0   0     3     3
14   Cadillac Fleetwood  10.4    8  472.0  205  ...  17.98   0   0     3     4
15  Lincoln Continental  10.4    8  460.0  215  ...  17.82   0   0     3     4
16    Chrysler Imperial  14.7    8  440.0  230  ...  17.42   0   0     3     4
21     Dodge Challenger  15.5    8  318.0  150  ...  16.87   0   0     3     2
22          AMC Javelin  15.2    8  304.0  150  ...  17.30   0   0     3     2
23           Camaro Z28  13.3    8  350.0  245  ...  15.41   0   0     3     4
24     Pontiac Firebird  19.2    8  400.0  175  ...  17.05   0   0     3     2
28       Ford Pantera L  15.8    8  351.0  264  ...  14.50   0   1     5     4
30        Maserati Bora  15.0    8  301.0  335  ...  14.60   0   1     5     8

[20 rows x 12 columns]

Write code to get the dataframe of cars with greter than 30mpg speeds

In [16]:
dfcars[dfcars.mpg > 30]

              name   mpg  cyl  disp   hp  ...   qsec  vs  am  gear  carb
17        Fiat 128  32.4    4  78.7   66  ...  19.47   1   1     4     1
18     Honda Civic  30.4    4  75.7   52  ...  18.52   1   1     4     2
19  Toyota Corolla  33.9    4  71.1   65  ...  19.90   1   1     4     1
27    Lotus Europa  30.4    4  95.1  113  ...  16.90   1   1     5     2

[4 rows x 12 columns]

Save the high speed cars in a new csv file in data folder, ie in the file "data/highspeed.csv"

In [22]:
# your code here
!wget https://raw.githubusercontent.com/setitfree/NumericalPython/main/data/highspeed.csv

--2020-12-20 05:55:26--  https://raw.githubusercontent.com/setitfree/NumericalPython/main/data/highspeed.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 269 [text/plain]
Saving to: ‘highspeed.csv’

highspeed.csv       100%[===================>]     269  --.-KB/s    in 0s

2020-12-20 05:55:26 (10.9 MB/s) - ‘highspeed.csv’ saved [269/269]

Create a 2-D numpy array from the mpg and wt columns of `dfcars`

In [25]:
# your code here
df = pd.read_csv("highspeed.csv")
df.head(3)
df.mpg.unique()

array([32.4, 30.4, 33.9])

Reshape this array into a wide style, in other words, transpose it

In [27]:
# your code here
sub = dfcars[['mpg']].values
size = sub.size
size
sub.shape

(32, 1)

In [ ]:
# your code here